@model ML.Cliente
@{
    ViewBag.Title = "Actualizar Datos";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/PL.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI/t1hOT1uP5uI7PqF4hBHg3FhBbu0RTtu8+TjzE=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="~/css/form.css" />

<div class="container">
    <section class="get-in-touch text-black">
        <h1 class="title">MODIFICACION DE DATOS DE CAPTURA</h1>
        <form class="contact-form row">
            @using (Html.BeginForm("Form", "Cliente", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-field col-lg-6">
                    <img src="~/Images/Bienes.jpg" style="width: 355px;" alt="logo">
                </div>
                <div class="form-field col-lg-6">
                    <h6>DATOS PERSONALES</h6>
                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(model => model.IdCliente, new { @class = "visually-hidden" })

                            @Html.TextBoxFor(model => model.IdCliente, new { @class = "visually-hidden form-control" })

                            @Html.ValidationMessageFor(model => model.IdCliente, null, new { @class = "text-danger" })
                        </div>

                        <div class="col">
                            @Html.LabelFor(model => model.Contrato.Costo.Pago.IdPago, new { @class = "visually-hidden" })

                            @Html.TextBoxFor(model => model.Contrato.Costo.Pago.IdPago, new { @class = "visually-hidden form-control" })

                            @Html.ValidationMessageFor(model => model.Contrato.Costo.Pago.IdPago, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(model => model.Nombre)

                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Nombre, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">

                        <div class="col">
                            @Html.LabelFor(model => model.ApellidoPaterno)

                            @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.ApellidoPaterno, null, new { @class = "text-danger" })
                        </div>

                        <div class="col">
                            @Html.LabelFor(model => model.ApellidoMaterno)

                            @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.ApellidoMaterno, null, new { @class = "text-danger" })
                        </div>
                        <div class="row">

                            <div class="col">
                                @Html.LabelFor(model => model.Edad)

                                @Html.TextBoxFor(model => model.Edad, new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.Edad, null, new { @class = "text-danger" })
                            </div>

                            <div class="col">
                                @Html.LabelFor(model => model.Telefono)

                                @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.Telefono, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">

                            <div class="col">
                                @Html.LabelFor(model => model.Observaciones)

                                @Html.TextBoxFor(model => model.Observaciones, new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.Observaciones, null, new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-field col-lg-6 ">
                    <h6>DIRECCION</h6>

                    <div class="row">

                        <div class="col">
                            @Html.LabelFor(model => model.Direccion.Calle)

                            @Html.TextBoxFor(model => model.Direccion.Calle, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Direccion.Calle, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">

                        <div class="col">
                            @Html.LabelFor(model => model.Direccion.NumeroInterior)

                            @Html.TextBoxFor(model => model.Direccion.NumeroInterior, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Direccion.NumeroInterior, null, new { @class = "text-danger" })
                        </div>

                        <div class="col">
                            @Html.LabelFor(model => model.Direccion.Numeroexterior)

                            @Html.TextBoxFor(model => model.Direccion.Numeroexterior, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Direccion.Numeroexterior, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-field col-lg-6 ">
                    <h6>DATOS DE ADQUISICION</h6>

                    <div class="row">

                        <div class="col">
                            @Html.LabelFor(model => model.Contrato.Costo.Pago.Enganche)

                            @Html.TextBoxFor(model => model.Contrato.Costo.Pago.Enganche, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Contrato.Costo.Pago.Enganche, null, new { @class = "text-danger" })
                        </div>

                        <div class="col">
                            @Html.LabelFor(model => model.Contrato.Costo.Pago.DiasPago)

                            @Html.TextBoxFor(model => model.Contrato.Costo.Pago.DiasPago, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Contrato.Costo.Pago.DiasPago, null, new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="row">

                        <div class="col">
                            @Html.LabelFor(model => model.Contrato.Costo.Pago.MetodoPago)
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.Contrato.Costo.Pago.MetodoPago.IdMetodoPago, new SelectList(Model.Contrato.Costo.Pago.MetodoPago.MetodosPago, "IdMetodoPago", "Nombre"), "Selecciona una opción", new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.Contrato.Costo.Pago.MetodoPago.IdMetodoPago, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col">
                            @Html.LabelFor(model => model.Contrato.Costo.Pago.Intereses)

                            @Html.TextBoxFor(model => model.Contrato.Costo.Pago.Intereses, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Contrato.Costo.Pago.Intereses, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(model => model.Contrato.Costo.Pago.MensualidadMinima)

                            @Html.TextBoxFor(model => model.Contrato.Costo.Pago.MensualidadMinima, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Contrato.Costo.Pago.MensualidadMinima, null, new { @class = "text-danger" })
                        </div>

                        <div class="col">
                            @Html.LabelFor(model => model.Contrato.Costo.Letras)

                            @Html.TextBoxFor(model => model.Contrato.Costo.Letras, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Contrato.Costo.Letras, null, new { @class = "text-danger" })
                        </div>

                        <div class="col">
                            @Html.LabelFor(model => model.Contrato.Costo.CostoTotal)

                            @Html.TextBoxFor(model => model.Contrato.Costo.CostoTotal, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Contrato.Costo.CostoTotal, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(model => model.Contrato.Costo.TotalxMetro)

                            @Html.TextBoxFor(model => model.Contrato.Costo.TotalxMetro, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Contrato.Costo.TotalxMetro, null, new { @class = "text-danger" })
                        </div>

                        <div class="col">
                            @Html.LabelFor(model => model.Contrato.Costo.CostoxMetro)

                            @Html.TextBoxFor(model => model.Contrato.Costo.CostoxMetro, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Contrato.Costo.CostoxMetro, null, new { @class = "text-danger" })
                        </div>

                    </div>
                </div>

                <div class="form-field col-lg-6 ">
                    <h6>DOCUMENTACION LEGAL</h6>

                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(model => model.Contrato.NumeroContrato)

                            @Html.TextBoxFor(model => model.Contrato.NumeroContrato, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Contrato.NumeroContrato, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(model => model.Contrato.FechaInicioContrato)

                            @Html.TextBoxFor(model => model.Contrato.FechaInicioContrato, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Contrato.FechaInicioContrato, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">

                        <div class="col">
                            @Html.LabelFor(model => model.Contrato.FechaFinContrato)

                            @Html.TextBoxFor(model => model.Contrato.FechaFinContrato, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Contrato.FechaFinContrato, null, new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(model => model.Contrato.EstatusContrato)
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.Contrato.EstatusContrato.IdEstatusContrato, new SelectList(Model.Contrato.EstatusContrato.EstatusContratos, "IdEstatusContrato", "Nombre"), "Selecciona una opción", new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.Contrato.EstatusContrato.IdEstatusContrato, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-field col-lg-6">
                    <h6>DATOS DE ADQUISICION</h6>
                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(model => model.Contrato.Ubicacion.Desarrollo)

                            @Html.TextBoxFor(model => model.Contrato.Ubicacion.Desarrollo, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Contrato.Ubicacion.Desarrollo, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">

                        <div class="col">
                            @Html.LabelFor(model => model.Contrato.Ubicacion.Manzana)

                            @Html.TextBoxFor(model => model.Contrato.Ubicacion.Manzana, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Contrato.Ubicacion.Manzana, null, new { @class = "text-danger" })
                        </div>

                        <div class="col">
                            @Html.LabelFor(model => model.Contrato.Ubicacion.Lote)

                            @Html.TextBoxFor(model => model.Contrato.Ubicacion.Lote, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Contrato.Ubicacion.Lote, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(model => model.Contrato.Ubicacion.Estatus)
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.Contrato.Ubicacion.Estatus.IdEstatus, new SelectList(Model.Contrato.Ubicacion.Estatus.Estatuses, "IdEstatus", "Nombre"), "Selecciona una opción", new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.Contrato.Ubicacion.Estatus.IdEstatus, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-field col-lg-12">
                    <div class="row">
                        <div class="col text-center">
                            <input type="submit" value="Guardar Cambios" class="btn btn-success " />
                            @Html.ActionLink("Regresar", "GetAll", "Cliente", htmlAttributes: new { @class = "btn" })
                        </div>
                    </div>
                </div>

            }
        </form>
    </section>
</div>
